body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
input{
    /* padding: 10px; */
    width: 300px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    
}
button{
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
